<div
  class="container-xl py-4 d-flex flex-grow-1 flex-column"
  hx-disabled-elt="[id^=disable-], input[id^=toggle], #addTodo"
>
  <div
    id="htmx-alert"
    hidden
    class="alert alert-warning sticky-top justify-content-between"
  ></div>

  <ul
    id="todos"
    class="fade-in fade-out list-group list-group-flush"
  >
    <form
      class="sortable"
      id="todo-form"
      hx-post="/todos/reorder"
      hx-trigger="end"
      hx-swap="none"
      hx-indicator="#spinner"
    >
      {{range .Todos}} {{template "partials/todos/todo" .}} {{end}}
    </form>
  </ul>

  <div class="d-inline-flex space-evenly col-md-6 offset-md-3 my-2">
    {{template "partials/todos/buttons" .}} {{template "partials/todos/count"
    .}}
  </div>

  {{template "partials/todos/add-todo" .}}
  <script src="js/errors.js"></script>
</div>
