<div class="container-xl py-4 d-flex flex-grow-1 flex-column">
  <script>
    document.body.addEventListener('htmx:afterRequest', function (evt) {
      const errorTarget = document.getElementById('htmx-alert');
      const closeErrorMessage = () => {
        errorTarget.setAttribute('hidden', 'true');
        errorTarget.classList.remove('d-inline-flex');
        errorTarget.innerText = '';
      };

      errorTarget.classList.add('d-inline-flex');

      if (evt.detail.successful) {
        // Successful request, clear out alert
        closeErrorMessage();
      } else if (evt.detail.failed && evt.detail.xhr) {
        // Server error with response contents, equivalent to htmx:responseError
        const xhr = evt.detail.xhr;
        errorTarget.innerText = `${xhr.response}`;
        errorTarget.removeAttribute('hidden');
      } else {
        // Unspecified failure, usually caused by network error
        console.error('Unexpected htmx error', evt.detail);
        errorTarget.innerText =
          'Unexpected error, check your connection and try to refresh the page.';
        errorTarget.removeAttribute('hidden');
      }

      closeBtn = document.createElement('button');
      closeBtn.innerText = 'OK';
      closeBtn.classList.add('btn', 'btn-danger');
      closeBtn.onclick = closeErrorMessage;
      errorTarget.append(closeBtn);
    });
  </script>

  <div
    id="htmx-alert"
    hidden
    class="alert alert-warning sticky-top justify-content-between"
  ></div>

  <ul
    id="todos"
    class="fade-in fade-out list-group list-group-flush"
  >
    {{range .Todos}} {{template "partials/todos/todo" .}} {{end}}
  </ul>

  <div class="d-inline-flex space-evenly col-md-6 offset-md-3 my-2">
    {{template "partials/todos/buttons" .}} {{template "partials/todos/count"
    .}}
  </div>

  {{template "partials/todos/add-todo" .}}
</div>
