.spinner {
  display: none;
}

.htmx-request .spinner{ 
  display: inline;
}

.htmx-request.spinner{
  display:inline;
}

.fade-out.htmx-swapping {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.fade-in.htmx-added {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

/* NON-FIREFOX ONLY view transitions */
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
   from { transform: translateX(90px); }
}

@keyframes slide-to-left {
   to { transform: translateX(-90px); }
}

.slide-transition {
   view-transition-name: slide-transition;
}

::view-transition-old(slide-transition) {
   animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
   600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-transition) {
   animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
   600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

