<li
  id="todo-{{.ID}}"
  hx-target="this"
  hx-swap="outerHTML swap:300ms"
  hx-disabled-elt="#disable-{{.ID}}"
  hx-indicator="#spinner-{{.ID}}"
  class="gap-2 fade-in fade-out list-group-item col-md-6 offset-md-3 d-flex flex-row"
>
  <button
    hx-get="/todos/edit/{{.ID}}"
    class="btn border-0 list-group-item-action"
    id="disable-{{.ID}}"
  >
    <span
      {{if .Done}} style="text-decoration: line-through;" {{end}}
    >
      {{.Title}}
    </span>
  </button>
  {{template "partials/spinner-named" .}}
  <input
    type="checkbox"
    name="checkbox"
    id="disable-{{.ID}}"
    autocomplete="off"
    {{if .Done}} checked {{end}}
    hx-patch="/todos/toggle/{{.ID}}"
  />
  <button
    class="fade-out btn btn-sm btn-outline-danger"
    id="disable-{{.ID}}"
    hx-delete="/todos/{{.ID}}"
  >
    Delete
  </button>
</li>
